@import url('https://fonts.googleapis.com/css?family=Lato');

body, html {
    font-family: Lato;
    font-size: 14px;
    background: #585857;
}

* {
    box-sizing: border-box;
    --main-color: #4aad8a;
    --secondary-color: #9aaba4;
    --main-color-hover: #487866;
    --main-color-failed: #984053;
}

.container {
    background: #585857;
}

.row {
    position: relative;
    background: #585857;
}

.row.menu {
    display: flex;
    background: linear-gradient(#4d3a40, #585857);
}

.column{
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.btn {
    font-family: Lato;
    flex-basis: 0;
    padding: 15px 30px;
    min-width: 150px;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: transparent;
    border: none;
    border-radius: 5px;
    margin: 10px;
    transition: 0.2s;
}

.btn:hover {
    background-color: var(--main-color);
    box-shadow: 0px 0px 15px var(--main-color-hover);
}

.btn:active {
    box-shadow: 0px 0px 15px var(--main-color-hover);
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    /*display: none;*/
    position: absolute;
    background-color: var(--secondary-color);
    border-radius: 5px;
    width: 60%;
    transform: translateX(30%);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    transition: 0.3s ease-in;
    opacity: 0;
    pointer-events: none;
}

/* Links inside the dropdown */
.dropdown-content a {
    text-align: center;
    font-weight: 800;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:first-child {
    border-radius: 5px 5px 0 0;
}

.dropdown-content a:last-child {
    border-radius: 0 0 5px 5px;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    opacity: 100;
    pointer-events: auto;
}

span {
    font-family: Lato;
    width: 100px;
    padding: 15px 15px;
    font-size: 14px;
    text-align: center;
    outline: none;
    color: #fff;
    background-color: var(--main-color);
    border: none;
    border-radius: 5px;
    margin: 5px 10px;
    transition: 0.2s;
}

input {
    font-family: Lato;
    padding: 15px 15px;
    font-size: 14px;
    text-align: center;
    outline: none;
    color: #fff;
    background-color: var(--secondary-color);
    border: none;
    border-radius: 5px;
    margin-right: 20px;
    transition: 0.2s;
}

.answer-eval {
    background-color: var(--main-color-hover);
}

.selected {
    background-color: var(--main-color);
}

.end-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: -100%;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    transition: 0.2s;
}

.end-screen__title {
    font-family: Lato;
    padding: 15px 15px;
    color: #fff;
    font-size: 20px;
    text-align: center;
}

